{% extends 'base.html' %}

{% block title %}
    Reddit-clone
{% endblock %}

{% block content %}
    <div class="mb-2">All posts</div>
    {% for post in posts %}
        <div class="card mb-2">
            <article class="media content-section">
                <img class="rounded article-img" src="{{ post.author.profile.image.url }}">
                     <div class="media-body">
                         <div class="article-metadata mt-2 mb-3">
                             <a class="ml-3" href="#" >{{post.author}}</a>
                             <a class="text-muted">on {{ post.date_posted }}</a>
                         </div>
                         <h6><a class="card-title ml-3" href="#">{{ post.title }}</a></h6>
                         <p class="card-text ml-3">{{ post.content|truncatewords:15 }}</p>
                     </div>
            </article>
        </div>
    {% endfor %}
{% endblock %}

By {{ post.author}} on {{ post.date_posted }}