{% extends 'base.html' %}

{% block title %}
    Reddit-clone
{% endblock %}

{% block content %}
        <div class="card mt-4">
            <article class="media content-section">
                <img class="rounded article-img" src="{{ object.author.profile.image.url }}">
                     <div class="media-body">
                         <div class="article-metadata mt-3 mb-3">
                             <a class="ml-3" href="#" >{{object.author}}</a>
                             <a class="text-muted">on {{ object.date_posted }}</a>
                             {% if object.author == user %}
                             <a class="btn-sm btn-secondary ml-3 mb-2" href="{% url 'post_update' object.id %}" role="button">EDIT</a>
                             <a class="btn-sm btn-danger ml-3 mb-2" href="{% url 'post_delete' object.id %}" role="button">DELETE</a>
                             {% endif %}
                         </div>
                         <h4 class="card-title ml-3">{{ object.title }}</h4>
                         <p class="card-text ml-3 mb-3 mr-3">{{ object.content}}</p>
                     </div>
            </article>
        </div>
{% endblock %}

By {{ post.author}} on {{ post.date_posted }}