{% extends "base.html" %}
{% load staticfiles  %}
{% block content %}
    <div class="content section">
        <img class="ml-4" src="{% static 'posts/image/40x40_minor.png' %}">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Delete Post</legend>
                <h6>Are you sure you want to delete the post "{{ object.title }}"?</h6>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Yes, Delete</button>
                <a class="btn btn-danger" href="{% url 'posts:detail' object.id %}">No, Come Back</a>
            </div>
        </form>
    </div>
{% endblock content %}